<div ng-app="eventsApp">

  <div ng-controller="IndexCtrl" >
      <section class="module">
          <ol class="discussion">
              <li class="event" ng-class="{true: 'home', false: 'visitor'}[event.home_team]" hm-tap="open(event.event_id)" ng-repeat="event in events">
                  <img class="avatar" ng-src="{{ event.avatar }}"/>
                  <p class="message">
                      {{ event.content }}
                      <time class="timestamp">{{ event.author }} . {{ event.event_id }} minutes ago</time>
                  </p>
              </li>
          </ol>
      </section>
  </div>
</div>
