@import "compass/css3/box";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea, [contenteditable] * {
  -webkit-user-select: auto;  /* Allow selection for input elements and those with contenteditable attribute */
}

body {
  background-color: #bbb;
}

.module {
  width: 300px;
  margin: 10px auto;
}

ul.discussion {
  list-style: none;
}

.discussion {
  max-width: 17em;
}

.post, .event {
  @include display-box;
  margin: .5em 0;
  max-width: 100%;
}
.post.home, .event.home {
  @include box-direction(row);
  @include box-align(flex-start);
}
.post.visitor, .event.visitor {
  @include box-direction(reverse);
  @include box-align(end);
}

.avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
}

.visitor .avatar {
  box-shadow: 2px 2px 0px #aaa;
}

.message {
  position: relative;
  background-color: #fff;
  padding: .5em;
  box-shadow: 2px 2px 0px #aaa;
  max-width: 92%;

  .timestamp {
    display: block;
    margin: .2em;
    font-size: 80%;
    color: #444;
  }
}

.message::before {
  position: absolute;
  height: 0;
  content: '';
  border: 6px solid transparent;
  z-index: 2;
}

.home .message::before {
  top: 0;
  right: auto;
  bottom: auto;
  left: -12px;
  border-top-color: #fff;
  border-right-color: #fff;
}

.visitor .message::before {
  top: auto;
  right: -12px;
  bottom: 0;
  left: auto;
  border-bottom-color: #fff;
  border-left-color: #fff;
}
